@font-face {
	font-family: 'Poppins';
	src: url("/police/Poppins-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'Fredoka One';
    src: url("/police/FredokaOne-Regular.ttf") format("truetype");
}

body {
    background-image: url(./images/sky.jpeg);
    height: 100 vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

#meteo {
    color: black;
    padding-left: 15%;
    top: 7;
    font-size: 200px;
}

#ville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    padding: 5%;
    font-family: 'Fredoka One';
    color: white;
}

#heure {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1.5%;
    padding-top: 3%;
    font-size: 40px;
}

#container-ville {
    padding-right: 47%;
    padding-left: 47%;
}

#meteo, #heure {
    font-family: 'Poppins';
}

.bouton {
    padding-left: 21%;
}

.bouton:hover {
   opacity: 0.5;
}

#g{
    transform: rotate(-180deg);
}