@font-face {
	font-family: 'Poppins';
	src: url("/police/Poppins-Thin.ttf") format("truetype");
}
@font-face {
    font-family: 'Fredoka One';
    src: url("/police/FredokaOne-Regular.ttf") format("truetype");
}

body {
    background-image: url(./images/sky.jpeg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

#ville {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    font-family: 'Fredoka One';
    color: white;
    padding: 0.4%;
}

#heure {
    display: flex;
    align-items: center;
    font-size: 100px;
    padding-right: 2%;
}

#meteo {
    padding-left: 5%;
    font-size: 200px;
}

.meteoHeure {
    display: flex;
    color:wheat;
    padding-top: 22%;
    font-family: 'Poppins';
    justify-content: space-between;
}

#container-ville {
    display: flex;
}

.bouton:hover {
   opacity: 0.5;
}

#g {
    transform: rotate(-180deg);
}